.navbar {
  background-color: var(--dark);
  padding: 2.4rem;
  height: 10vh;
  width: 100%;
  box-sizing: border-box;
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 3.4rem;
  transition: 1s;
}

.title {
  height: 2.4rem;
  margin: 0 0;
  transition: 1s;
}

.pages {
  display: flex;
  justify-content: space-between;
  width: 35%;

  a {
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--light);
    transition: 0.25s;

    &:hover {
      letter-spacing: 0.2rem;
    }
  }
}

.login {
  padding-top: 6.4rem;
  justify-content: flex-start;
  height: 100vh;
  margin-bottom: 0;
  flex-direction: column;
  gap: 3.6rem;
  overflow: hidden;

  .title {
    height: 3.2rem;
    margin: 0 auto;
  }
}

.login-form {
  background-color: var(--bg);
  border-radius: 0.4rem;
  border: 0.2rem solid #5f6368;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  min-width: 56rem;
  color: var(--dark);
  position: relative;
  top: 0;
  left: 0;
  animation: appearWithBlur 1s both 1.25s;
  overflow-y: auto;
  max-height: 70%;
  transform: 0.75s;

  p {
    color: #5f6368;
    font-size: 1.8rem;
    font-weight: 600;
  }
}

.text-input {
  padding: 1.2rem;
  border-radius: 0.4rem;
  background-color: var(--light);
  outline: none !important;
  border: none;
  box-shadow: 0 0 0.1rem 0.025rem var(--dark);

  font-size: 1.8rem;
  font-weight: 600;
  font-family: "DM Sans";
  color: #5f6368;
  flex: 1;
}

em {
  text-decoration: underline;
  color: var(--light-blue);
  font-style: normal;
  cursor: pointer;

  &:active {
    opacity: 0.6;
  }
}

.input-container {
  display: flex;
  gap: 1.2rem;
}
