.icon-button {
  padding: 0.3rem;
  color: #5f6368;
  transition: 0.25s;
  border-radius: 0.4rem;
  cursor: pointer;
  aspect-ratio: 1;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #d4d7de;
  }

  &:active {
    color: #d4d7de;
  }
}
